*.iml
*.tmp
*.log
*.bak
.gradle
/local.properties/
/.idea/
/app/build/
/app/res/
/app/manifests/
/app/kotlin+java/com.example.autofeederapp/MyFirebaseMessagingService.kt
/app/kotlin+java/com.example.autofeederapp/Pet.kt
/app/kotlin+java/com.example.autofeederapp/PetInfo.kt
/app/kotlin+java/com.example.autofeederapp/MainActivity.kt
/app/kotlin+java/com.example.autofeederapp/ExampleInstrumentedTest.kt
/app/kotlin+java/com.example.autofeederapp/ExampleUnitTest

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.jks
.keystore
Thumbs.db